
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
 
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;

  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}


form {
  padding: 20px 0;
  position: relative;

  z-index: 2;
}
form input {
  appearance: none;
  outline: 0;
  border: 1px solid #d3d3d3;
  background-color: rgba(255, 255, 255, 0.2);
  width: 350px;
  border-radius: 3px;
  padding: 10px 15px;
  margin:   10px ;
  display: block;
  text-align: left;
  font-size: 15px;
  color: black;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
    font-weight: 0;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: white;
  width: 370px;
  color: black;
}

form select {
  appearance: none;
  outline: 0;
  border: 1px solid #d3d3d3;
  background-color: rgba(255, 255, 255, 0.2);
  width: 350px;
  border-radius: 3px;
  padding: 10px 15px;
  margin:   10px ;
  display: block;
  text-align: left;
  font-size: 15px;
  color: black;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
    font-weight: 0;
}
form select:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form select:focus {
  background-color: white;
  width: 370px;
  color: black;
}

form textarea {
  outline: 0;
  border: 1px solid #d3d3d3;
  background-color: rgba(255, 255, 255, 0.2);
  width: 350px;
  border-radius: 3px;
  padding: 10px 15px;
  margin:   10px ;
  display: block;
  text-align: left;
  font-size: 15px;
  color: black;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: lighter;
  resize:none;
  display:inline;
}
form textarea:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form textarea:focus {
  background-color: white;
  width: 370px;
  color: black;
}

form button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 15px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
form button:hover {
  background-color: #f5f7f9;
}



.blue{
font-size:17px;
color:#3b5998;
font-weight:bold;
line-height: 1.38;
white-space: normal;
word-wrap: break-word;
text-align: left;
direction: ltr;
font-family:Arial,sans-serif;

}

#text_{
margin:10px;
font-size:14px;
font-weight:300;
line-height: 1.50;
white-space: normal;
word-wrap: break-word;
text-align: left;
direction: ltr;
font-family:Arial,sans-serif;
margin:10px;
color:black;
}



#block{
height:170px;
width:280px;
margin:30px;
display:inline-block;
border-radius:5px;
cursor:pointer;
box-shadow: 5px 5px 25px -0px #777;
  color:white;
  position:absolute;
}
#right{
background:;
width:auto;
height:650px;
float:left;
margin:0px;
min-width:1024px;
 box-shadow: -3px 0px 3px 1px #d8d8d8;
 }

#control_item{
background:#ebebeb;
height:50px;
width:100%;
border-bottom:1px solid #d2d2d2;
color:#777777;
padding:15px;
font-weight:bold;
cursor:pointer;
}

#control_item:hover{
background:#d7d7d7;
box-shadow: inset -3px 0px 5px 1px #bcbcbc;
}

#inside_right{
background:transparent;
height:600px;
margin-left:50px;

}

#block{
height:170px;
width:280px;
margin:30px;
display:inline-block;
border-radius:5px;
cursor:pointer;
  
box-shadow: 5px 5px 25px -0px #777;
  color:white;
  position:absolute;
}

#h1{
font-size:45px;
font-weight:900;
margin:15px;
}

#h3{
font-size:21px;
margin:0px;
margin-left:10px;
}